// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: 'Itim', cursive;
    font-size: $base-font-size;
    line-height: $base-line-height;

    @media #{$mq-medium} {
        font-size: $base-font-size*1.2;
        line-height: $base-line-height*1.2;
    }

    @media #{$mq-large} {
        font-size: $base-font-size*1.5;
    }

    @media #{$mq-xlarge} {
        font-size: $base-font-size*1.7;
    }

    @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.9;
    }
}

canvas {
    position: fixed;
    z-index: -1;
}

.window {
    border: 1px solid black;
    border-radius: .2rem;
    width: 60%;
    margin: 2rem auto 0;
    padding: .5rem;

    h1 {
        text-align: center;
        margin: 0;
        font-family: 'Indie Flower', cursive;
    }

    label {
        display: block;

        span {
            display: inline-block;
            text-align: right;
            margin-right: .2rem;
            width: 24%;
        }

        input {
            width: 60%;
            
            border: none;
            border-bottom: 1px dashed black;

            font-family: 'Indie Flower', cursive;
            font-size: 1.5rem;
        }

        input:focus {
            outline: 0;
            border-bottom: 1px solid black;
        }
    }

    input[type="button"] {
        display: block;
        margin: 1rem auto;
        
        font-family: 'Indie Flower', cursive;
        font-size: 1.5rem;
        
        border : solid 1px #000000;
        border-radius : 3px;
        -moz-border-radius : 3px;

        -webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
        -moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
        box-shadow : 0px 0px 2px rgba(0,0,0,1.0);

        color : #ffffff;
        padding : 1px 17px;
        background : #5f6166;
        background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f6166), color-stop(100%,#00060a));
        background : -moz-linear-gradient(top, #5f6166 0%, #00060a 100%);
        background : -webkit-linear-gradient(top, #5f6166 0%, #00060a 100%);
        background : -o-linear-gradient(top, #5f6166 0%, #00060a 100%);
        background : -ms-linear-gradient(top, #5f6166 0%, #00060a 100%);
        background : linear-gradient(top, #5f6166 0%, #00060a 100%);
        filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6166', endColorstr='#00060a',GradientType=0 );
    }

    input[type="button"]:active {
        transform: translateY(1px);
    }
}

.gamebar {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: white;

    div {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

    .values {
        float: left;

        width: 15vw;
        padding-left: 1rem;

        .valuetitle {
            font-size: 1.2rem;
        }

        .valueseperator {
            font-size: .9rem;
        }

        .totalvalue {
            font-size: .8rem;
        }
    }

    .console {
        float: right;

        width: 85vw;
        height: 100%;

        font-family: 'Indie Flower', cursive;

        overflow-x: hidden;
        overflow-y: scroll;

        border-left: .1rem solid black;

        div {
            padding-left: .3rem;
            line-height: .9;
            margin: 0 0 .2rem;
        }
    }
}

.hidden {
    display: none !important;
}